.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
/build/
/ios/Flutter/.last_build_id
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/ephemeral/
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/
*.iml
*.log
